<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

<body>
    
    <%- include('./partials/nav.ejs')%>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias beatae pariatur voluptatibus placeat commodi architecto doloribus deleniti facere voluptatem! Vero temporibus ea eum cum veritatis deleniti quia totam ullam alias!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis quam culpa repellat praesentium! Ratione illum repellendus, deserunt expedita hic inventore quibusdam culpa eveniet non asperiores. Odio reprehenderit nobis ea maxime!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam earum quod laborum aspernatur quos. Modi explicabo omnis ab molestiae dolorem quos facere sed suscipit? Ex mollitia architecto eum nesciunt voluptas!</p>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>